{% extends 'base.html' %}

{% block title %}Boggle{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="static/app.css">
{% endblock %}

{% block js %}
<script src="static/app.js" type="module"></script>
{% endblock %}

{% block body %}
<span class="toast">Hello World!</span>
<div class="content">
    <div class="header-area">
        <div class="header-left-area">
            <h1>Boggle</h1>
        </div>
        <div class="header-right-area">
            <div class="display-bar">
                <div class="score">
                    <span class="label">TIMER</span>
                    <span id="timer" class="value">60</span>
                </div>
                <div class="score">
                    <span class="label">SCORE</span>
                    <span id="current-score" class="value">0</span>
                </div>
                <div class="score">
                    <span class="label">BEST</span>
                    <span id="best-score" class="value">0</span>
                </div>
            </div>
            
            <div class="display-bar">
                <button id="new-game-btn">New Game</button>
            </div>
        </div>
    </div>

    <div class="input-area">
        <form autocomplete="off">
            <input id="textbox" type="text">
            <button id="submit-btn">&crarr;</button>
        </form>
    </div>
    
    <div class="board-area">
        <div class="board">
            {% for row in board %}
            {% for letter in row %}
            <div class="tile"><span class="text">{{letter}}</span></div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}