* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background: #FAF8EF;
}

.content {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr calc(69vh + 20px) 1fr;
    grid-template-rows: 1fr 36px calc(69vh + 30px);
}
.header-area {
    grid-area: 1 / 2 / 1 / 2;

    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 10px;
}
.header-left-area {
    grid-area: 1 / 1 / 1 / 3;

    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 10px;
    font-size: 22pt;
    color: #776E65;
}
.header-right-area {
    grid-area: 1 / 2 / 1 / 2;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

.input-area {
    grid-area: 2 / 2 / 2 / 2;
}
.board-area {
    grid-area: 3 / 2 / 3 / 2;
}





.display-bar {
    height: 50px;
    
    display: flex;
    flex-direction: row;

    justify-content: right;
    gap: 10px;
}

.score {
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;

    font-family: "Clear Sans", "Helvetica Neue", 'Arial', sans-serif;
    font-weight: bolder;

    font-size: 25px;
    border-radius: 5px; /* half the gap */
    padding: 1em;
    background: #BBADA0;
}

.label {
    font-size: 0.5em;
    color: #EEE4DA
}

.value {
    font-size: 0.9em;
    color: white;
}





#new-game-btn {
    width: 80px;
    height: 50px;

    font-family: 'Arial', sans-serif;
    font-weight: bolder;
    color: white;
    background: #BBADA0;
    padding: 0 0.5em 0 0.5em;
    border: 0px;
    border-radius: 0.5em;
}

#new-game-btn:hover {
    background: #F69664;
    transition: 0.5s all;
}





form {
    display: grid;
    grid-template-columns: 1fr 32px;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

#textbox {
    margin: 0;
    padding: 0 0.75em 0 0.75em;

    background: #EEE4DA;
    color: gray;
    border: 2px solid #F69664;
    border-radius: 10px 0 0 10px;

    font-family: 'Arial', sans-serif;
    font-size: 1.25em;
}

#textbox:focus {
    background: white;
    color: black;
    outline-style: none;
}

#submit-btn {
    width: 30px;
    height: 30px;

    border: 2px solid #F69664;;
    border-radius: 0 10px 10px 0;
    font-size: 1.50em;
    font-weight: bolder;

    color: white;
    background: #F69664;;
}

#submit-btn:hover {
    background: radial-gradient(#F69664, #ff8a4b)
}




.board {
    width: 69vh;
    height: 69vh;

    display: grid;
    grid-template-columns: repeat(5, 1fr); /* change this */
    grid-template-rows: repeat(5, 1fr); /* change this */
    gap: 10px;

    border-radius: 10px;
    border: 10px solid #BBADA0;
    background: #BBADA0;
}

.tile {
    text-align: center;
    background: #EEE4DA;
}

.text {
    font-size: 2em;
    line-height: calc(69vh / 5 - 10px) /* change this */
}



.toast {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -10px);
    margin-top: 10px;

    font-size: 12pt;
    font-family: 'Arial', sans-serif;
    font-weight: bolder;

    border-radius: 0.5em;

    padding: 0.5em 1em 0.5em 1em;

    background: #5F5F5F;
    color: white;

    text-align: center;

    opacity: 0;
    transition: 1s opacity, transform 1s;
}

.show-toast {
    opacity: 0.75;
    transform: translate(-50%, 10px);
    transition: 0.5s opacity, transform 0.5s;
}

